name: Deploy to Green VM

on:
  workflow_run:
    workflows: ["Deploy Frontend to VM"]
    types:
      - completed

env:
  ACR_NAME: ${{ secrets.ACR_NAME }}
  ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
  ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
  RG: ${{ secrets.RG_NAME }}
  GREEN_VM: ${{ secrets.GREEN_VM }}

jobs:

  deploy-green:
    runs-on: ubuntu-latest
    steps:
      - name: Login Azure
        run: |
          az login --service-principal \
            --username "${{ secrets.AZURE_CLIENT_ID }}" \
            --password "${{ secrets.AZURE_CLIENT_SECRET }}" \
            --tenant "${{ secrets.AZURE_TENANT_ID }}"

      - name: Deploy to GREEN VM
        run: |
          az vm run-command invoke \
           --command-id RunShellScript \
           --resource-group $RG \
           --name $GREEN_VM \
           --scripts "
             sudo docker stop frontend || true
             sudo docker rm frontend || true

             echo $ACR_PASSWORD | sudo docker login ${ACR_NAME}.azurecr.io \
                -u ${ACR_USERNAME} --password-stdin

             sudo docker pull ${ACR_NAME}.azurecr.io/myfrontend:latest
             sudo docker run -d --restart always --name frontend -p 80:80 ${ACR_NAME}.azurecr.io/myfrontend:latest
           "


  health-check:
    needs: deploy-green
    runs-on: ubuntu-latest
    steps:
      - name: Check Green App Health
        run: |
          for i in {1..10}; do
            STATUS=$(curl -s -o /dev/null -w "%{http_code}" http://20.219.40.23 || echo "000")
            echo "Health check attempt $i : $STATUS"
            if [[ "$STATUS" == "200" ]]; then exit 0; fi
            sleep 10
          done
          echo "Green app not healthy"
          exit 1


  switch-traffic:
    needs: health-check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: pip install -r deployment/requirements.txt

      - name: Switch Traffic to GREEN VM
        run: python3 deployment/blue_green_deploy.py
